@charset "UTF-8";
/* CSS Document */

body, html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;}
	
#wrapper {
	width: 800px;
	height: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 0px;}
	
#sideber {
	width: 200px;
	height: 400px;
	float: left;}
	
#main {
	width: 600px;
	height: 400px;
	float: left;}
	
h1 {
	margin-top: 0;}
	
h3 {
	font-size: 13px;}
	
ul {
	list-style: none;
	font-size: 13px;
	padding-left: 0;}
	
li {
	padding: 5px;}
	
a {
	transition: all .3s;
	text-decoration: none;}
	
a:link{
	color:#000;}
	
a:hover {
	color: #fff;
	background-color: #CCC;}
	
a:visited {
	color: #000;}
	
#copy{
	padding:20px 0 20px;
	clear:both;}
#copy p {
    text-align: center; }
